@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&dispaly=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family:'Share Tech Mono',monospace;
    font-size: 2.5rem;
}
body {
    display: grid;
    background-color: rgb(172, 123, 123);
    color: whitesmoke;
    place-content: center;
    padding: 1rem;
}
h1 {
    color: rgb(168, 61, 218);
}